:root {
    --font-style-font-family: "Saira-Regular", Helvetica;
    --font-style-font-weight: 400;
    --font-style-font-size: 40px;
    --font-style-letter-spacing: 0px;
    --font-style-line-height: normal;
    --font-style-font-style: normal;
  }
  